.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
build/

.env

run_output.txt
logs/

# Ignore the cards directory, which contains generated card images
# regenerate following script.
cards/*
!cards/.gitkeep